extends ../layouts/main_layout
include ../mixins/cdn_mixin

block bodyContent
  section.container
    .row
      .col-12.box.shadow-sm: .contact-form

        h2.mb-4 Contacto
        p Si deseas aprender más o tienes preguntas, puedes llenar el siguiente formulario. Me pondré en contacto contigo lo antes posible.

        hr

        form#contactForm(
          data-validate='true',
          data-handler='contactFormDone',
          novalidate
        )
          .row: .col: .form-group
                label.form-label(for='name') Nombre*
                input.form-control(
                  name='name',
                  id='name'
                  type='text', 
                  aria-describedby='nameHelp',
                  data-check='name')
                .invalid-feedback El nombre es requerido
          .row
            .col-12.col-md-6: .form-group
              label.form-label(for='userContact') Email o teléfono*
              input.form-control(
                name='userContact',
                id='userContact'
                type='userContact', 
                aria-describedby='userContactHelp',
                data-check='userContact')
              .invalid-feedback El email o  teléfono es requerido
          .row: .col: .form-group
            label.form-label(for='message') Mensaje*
            textarea.form-control(
              name='message',
              id='message'
              rows='4', cols='50', 
              aria-describedby='messageHelp',
              data-check='message')
            .invalid-feedback El mensaje es requerido
          .row: .col: .form-group
            small#emailHelp.form-text.text-muted No compartimos tus datos con nadie
          .g-recaptcha(
            data-sitekey="6LckfrEUAAAAALLjGJKipDpeO7pmLPZSIKF_SWA2",
            data-callback="onLoadRecaptcha",
            data-size="invisible"
          )
          button.btn.btn-outline-primary.btn-block(type='submit') 
            b Enviar

block append bodyScriptContent
  +cdn('validator')
  script(src="/assets/scripts/pages/contact.js")
  script(src="/assets/scripts/services/form_validation.js")
  +cdn('grecaptcha')


    

