extends ../layouts/main_layout
include ../mixins/pagination_mixin

block bodyContent

  section.container
    .row
      .col-12.box.shadow-sm
        h2.mb-4 Referencias
        p.
          Puedes hacer click en cada versiculo para abrir su respectiva cita.
          Todas las citas fueron tomadas de la Biblia Reina Valera 1960.
        hr

        .row
          each chapter in locals.allReferences
            .col-12.col-md-6  
              h3.mb-4=chapter.title
              each reference in chapter.content
                p #{reference.teme}: 
                  each ref in reference.quotes
                    button#reference.btn.btn-link.mr-1.btn-reference(
                      type='button',
                      data-title=ref.quote, 
                      data-content=ref.text) #{ref.quote}. 
              hr

    #refModal.modal.fade(
      tabindex='-1', 
      role='dialog', 
      aria-labelledby='modalTitle', 
      aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5#modalTitle.modal-title Modal title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          #modalBody.modal-body Modal Title
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar

block append bodyScriptContent
  script(src="/assets/scripts/pages/references.js")
        