
mixin cdn(name)
  case name
    when 'jquery'
      script(
        src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    when 'popper' 
      script(
        src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', 
        crossorigin='anonymous')
    when 'bootstrap'
      script(
        src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', 
        crossorigin='anonymous')
    when 'validator'
      script(
        src='https://cdn.jsdelivr.net/npm/validatorjs@3.15.1/dist/lang/es.min.js')
      script(
        src='https://cdn.jsdelivr.net/npm/validatorjs@3.15.1/dist/validator.min.js')
    default
      span(style="background-color: black; color: white;").
        > [CDN] '#{name}' no esta definido